.app-rooms-item {
  align-items: center;
  box-sizing: border-box;
  cursor: default;
  display: flex;
  flex-direction: row;
  grid-column-gap: var(--main-grid-gap);
  justify-content: flex-start;
  overflow: hidden;
  padding: var(--main-padding);
  width: 100%;
}

.app-rooms-item > span {
  align-items: center;
  background-color: var(--main-light-gray-color);
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  color: var(--main-white-color);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  font-weight: 500;
  height: 56px;
  justify-content: center;
  position: relative;
  width: 56px;
}

.app-rooms-item > span > i {
  background-color: var(--main-color);
  border-radius: 50%;
  bottom: 0;
  height: 12px;
  position: absolute;
  right: 0;
  transform: translate(-2px, -2px);
  width: 12px;
}

.app-rooms-item > div {
  display: flex;
  flex-direction: column;
  grid-row-gap: var(--main-grid-gap);
  overflow: hidden;
  width: 100%;
}

.app-rooms-item > div > strong {
  color: var(--main-black-color);
  font-size: 16px;
  font-weight: 500;
}

.app-rooms-item > div > span {
  color: var(--main-gray-color);
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
