<div class="chat">
  <header class="chat__header">
    <i>{{ contact?.name?.slice(0, 1) ?? '' }}</i>
    <div>
      <span>{{ contact?.name ?? '' }}</span>
      <i>{{ online ? 'Online' : 'Last seen recently' }}</i>
    </div>
  </header>
  <app-chat-container/>
  <footer class="chat__footer">
    <form name="form" (submit)="handleFormSubmit($event)">
      <app-input
        [required]="true"
        [value]="message"
        (input)="setMessage($event)"
        placeholder="Your message"
      />
      <app-button text="Send" type="submit"/>
      <app-button *ngIf="edit" (click)="setEdit(false)" text="Cancel" type="button"/>
    </form>
  </footer>
</div>
