.app-home {
  background-color: var(--main-white-color);
  display: grid;
  grid-template-columns: calc(20% - var(--main-grid-gap) / 2) calc(80% - var(--main-grid-gap) / 2);
  grid-template-rows: 100%;
  grid-gap: var(--main-grid-gap);
  height: 100vh;
  width: 100%;
  padding: var(--main-padding);
}
