.app-form {
  background-color: var(--main-white-color);
  border: 1px solid var(--main-light-gray-color-2);
  border-radius: var(--main-border-radius);
  display: flex;
  flex-direction: column;
  grid-row-gap: var(--main-grid-gap);
  padding: 32px;
  width: 360px;
}
