<div [class]="['app-message', selfMessage ? 'app-message--self' : 'app-message--not-self']">
  <div class="app-message__content">
<!--    <em>{{ message.author.name }}</em>-->
    <span>{{ message.text }}</span>
    <div *ngIf="selfMessage" class="app-message__control">
      <button (click)="handleClickEdit()">
        <img alt="" loading="eager" height="20" ngSrc="assets/icons/pencil.svg" width="20">
      </button>
      <button (click)="handleClickDelete(message)">
        <img alt="" loading="eager" height="20" ngSrc="assets/icons/trash.svg" width="20">
      </button>
    </div>
    <footer class="app-message__footer">
      <em class="app-message__time">
        {{ message.time }}
      </em>
      <div *ngIf="selfMessage">
        <img loading="eager" *ngIf="!message.checked" alt="" height="16" ngSrc="assets/icons/check.svg" width="16">
        <img loading="eager" *ngIf="message.checked" alt="" height="16" ngSrc="assets/icons/double-check.svg" width="16">
      </div>
    </footer>
  </div>
<!--  <i [style]="getGradientFromChar(message.author.name[0])" class="app-message__author">-->
<!--    {{ message.author.name[0] }}-->
<!--  </i>-->
</div>
