.app-message {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  grid-column-gap: var(--main-grid-gap);
}

.app-message > i {
  align-items: center;
  background-color: #eeeeee;
  border-radius: 50%;
  color: var(--main-white-color);
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: 500;
  height: 32px;
  justify-content: center;
  width: 32px;
}

.app-message--self {
  margin-left: auto;
}

.app-message--not-self {
  flex-direction: row-reverse;
}

.app-message--self > .app-message__content {
  margin-left: auto;
}

.app-message--not-self > .app-message__content {
  margin-right: auto;
}

.app-message__content {
  background-color: rgba(0, 0, 0, 0.04);
  color: var(--main-black-color);
  display: flex;
  flex-direction: column;
  grid-row-gap: var(--main-grid-gap);
  justify-content: space-between;
  max-width: 60%;
  min-width: 40%;
  padding: var(--main-padding);
  position: relative;
}

.app-message--self .app-message__content {
  border-radius: var(--main-border-radius) var(--main-border-radius) 0 var(--main-border-radius);
  transform: translateX(-16px);
}

.app-message--not-self .app-message__content {
  border-radius: var(--main-border-radius) var(--main-border-radius) var(--main-border-radius) 0;
  transform: translateX(16px);
}

.app-message__content::after {
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="6" height="9" viewBox="0 0 6 9" fill="none"><path d="M0.485255 6.86626C2.83389 5.5528 6 3.19884 6 0.0533517V8.05335L0.758872 8.05336C0.202224 8.05336 -0.000580311 7.13796 0.485255 6.86626Z" fill="black" fill-opacity="0.04"/></svg>') center center no-repeat;
  background-size: cover;
  bottom: 0;
  content: '';
  display: block;
  height: 16px;
  position: absolute;
  width: 16px;
}

.app-message--self > .app-message__content::after {
  right: 0;
  transform: rotateZ(90deg) translate(0, -16px);
}

.app-message--not-self > .app-message__content::after {
  left: 0;
  transform: translate(-16px, 0);
}

.app-message__content em {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}

.app-message__content > span {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  word-wrap: break-word;
}

.app-message__footer {
  align-items: center;
  display: flex;
  flex-direction: row;
  grid-column-gap: var(--main-grid-gap);
  justify-content: flex-end;
  opacity: 0.6;
}

.app-message__footer > div {
  height: 16px;
  width: 16px;
}

.app-message__control {
  display: none;
  grid-column-gap: var(--main-grid-gap);
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(-4px, 4px);
}

.app-message:hover .app-message__control {
  display: flex;
}

.app-message__time {
  text-align: right;
}

.app-message__control > button {
  align-items: center;
  background-color: #e0e0e0;
  border: none;
  border-radius: var(--main-border-radius);
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 24px;
  justify-content: center;
  padding: var(--main-padding);
  transition: var(--main-transition);
  width: 24px;
}

.app-message__control > button:hover {
  background-color: #eeeeee;
}
