.app-header {
  align-items: center;
  background-color: var(--main-white-color);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 48px;
  justify-content: center;
  padding: var(--main-padding);
  position: relative;
}

.app-header__logo {
  height: 32px;
  width: 32px;
}

.app-header__left, .app-header__right {
  height: 100%;
  width: 100%;
}

.app-header__button {
  align-items: center;
  background-color: transparent;
  border: 1px solid #e0e0e0;
  border-radius: var(--main-border-radius);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  justify-content: center;
  padding: 0;
  transition: var(--main-transition);
}

.app-header__button:not(:disabled):hover {
  background-color: var(--main-light-gray-color);
}

.app-header__button > span {
  border-left: 1px solid #e0e0e0;
  color: var(--main-black-color);
  padding: 4px var(--main-padding);
}

.app-header__button > svg {
  padding: 4px;
  transition: var(--main-transition);
}

.app-header__button:not(:disabled):hover > svg {
  transform: translateX(-2px);
}

.app-header__button:disabled {
  cursor: default;
  opacity: 0.5;
}

.app-header__right {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.app-header__right > button {
  align-items: center;
  background-color: transparent;
  border: 1px solid #e0e0e0;
  border-radius: var(--main-border-radius);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  grid-column-gap: var(--main-grid-gap);
  justify-content: flex-end;
  padding: 4px;
  transition: var(--main-transition);
}

.app-header__right > button:hover {
  background-color: var(--main-light-gray-color);
}

.app-header__right > button > i {
  align-items: center;
  background-color: var(--main-light-gray-color);
  border-radius: var(--main-border-radius);
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: 500;
  height: 24px;
  justify-content: center;
  width: 24px;
}

.app-header__right > button > span {
  font-size: 14px;
  font-weight: 500;
}

.app-header__popup {
  background-color: var(--main-white-color);
  border-radius: var(--main-border-radius);
  bottom: 0;
  box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  grid-row-gap: var(--main-grid-gap);
  padding: var(--main-padding);
  position: absolute;
  right: 0;
  transform: translate(0, calc(100% - var(--main-grid-gap)));
  width: 10%;
}

.app-header__popup > button, .app-header__popup > a {
  align-items: center;
  background-color: var(--main-color-hover-2);
  border: none;
  border-radius: var(--main-border-radius);
  box-sizing: border-box;
  color: var(--main-black-color);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: var(--main-padding);
  text-decoration: none;
  transition: var(--main-transition);
  width: 100%;
}

.app-header__popup > button:hover, .app-header__popup > a:hover {
  background-color: var(--main-color-hover);
  color: var(--main-white-color);
}
