<header class="app-header">
  <div class="app-header__left">
    <button (click)="handleClickBack()" *ngIf="user.name" [disabled]="disabledBackButton" class="app-header__button">
      <img loading="eager" alt="" height="20" ngSrc="assets/icons/chevron-left.svg" width="20">
      <span>Home</span>
    </button>
  </div>
  <div class="app-header__right">
    <button (click)="openPopup = !openPopup" *ngIf="user.name">
      <i>{{ user.name.slice(0, 1) }}</i>
      <span>{{ user.name }}</span>
    </button>
  </div>
  <div *ngIf="openPopup" class="app-header__popup">
    <button (click)="handleClickLogout()">Logout</button>
  </div>
</header>
