.app-input {
  border-radius: var(--main-border-radius);
  box-sizing: border-box;
  display: flex;
  background-color: var(--main-light-gray-color-2);
  overflow: hidden;
  transition: var(--main-transition);
  position: relative;
}

.app-input:hover {
  box-shadow: none;
}

.app-input > input {
  border: none;
  outline: none;
  padding: 8px 16px;
  line-height: 28px;
  width: 100%;
  box-sizing: border-box;
  box-shadow: inset 0 0 0 100px var(--main-light-gray-color-2);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  transition: var(--main-transition);
}

.app-input__prompt {
  position: absolute;
  right: 12px;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  grid-column-gap: 8px;
  font-size: 14px;
}

.app-input__prompt img {
  cursor: pointer;
}

.app-input__prompt em {
  display: none;
  font-style: normal;
  color: var(--main-color-2);
}

.app-input__prompt img:hover + em {
  display: inline;
}
