.app-chat-header {
  align-items: flex-start;
  background-color: var(--main-color-3);
  border-radius: var(--main-border-radius) 0 0 0;
  display: flex;
  flex-direction: row;
  grid-column-gap: var(--main-grid-gap);
  justify-content: flex-start;
  padding: var(--main-padding);
}

.app-chat-header > i {
  align-items: center;
  background-color: var(--main-light-gray-color);
  border-radius: 50%;
  color: var(--main-white-color);
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: 500;
  height: 44px;
  justify-content: center;
  width: 44px;
}

.app-chat-header > div {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.app-chat-header > div > span {
  font-size: 16px;
  font-weight: 500;
}

.app-chat-header > div > i {
  font-size: 12px;
  font-style: normal;
}
