<header class="app-chat-header">
  <a [routerLink]="'/'">
    <img loading="eager" alt="" height="24" ngSrc="assets/icons/chevron-left.svg" width="24">
  </a>
  <div class="app-chat-header__container">
    <div>
      <i [style]="getGradientFromChar(chatName[0])">{{ chatName[0] }}</i>
      <div>
        <span>{{ chatName }}</span>
<!--        <i *ngIf="!chat?.group">{{ online ? 'Online' : 'Last seen recently' }}</i>-->
      </div>
    </div>
    <div>
      <app-button *ngIf="chat?.group" (click)="handleAddUser()">Add user</app-button>
    </div>
  </div>
  <app-new-chat-modal [visibleModal]="visibleModal" (handleVisibleModal)="handleCloseModal()" [addUser]="true"/>
</header>
