<header class="app-chat-header">
  <div class="app-chat-header__container">
    <div>
      <i [style]="getGradientFromChar(chat?.name?.[0] ?? '')">{{ chat?.name?.[0] }}</i>
      <div>
        <span>{{ chat?.name }}</span>
        <!--    <i>{{ online ? 'Online' : 'Last seen recently' }}</i>-->
      </div>
    </div>
    <div>
      <app-button *ngIf="chat?.group" (click)="handleAddUser()" text="Add user"/>
    </div>
  </div>
  <app-new-chat-modal [visibleModal]="visibleModal" (handleVisibleModal)="handleCloseModal()" [addUser]="true"/>
</header>
