<div class="app-rooms-list">
  <div class="app-rooms-list__search">
    <app-input (input)="handleInputSearch($event)" [placeholder]="'Search'"/>
  </div>
  <div *ngIf="!searchedUser" class="app-rooms-list__rooms">
    <a
      *ngFor="let room of rooms"
      [class]="['app-rooms-list__chat', room._id === contactId ? 'app-rooms-list__chat--active' : '']"
      [routerLink]="'/chat/' + room._id"
    >
      <span>
        {{ room.name.slice(0, 1) }}
<!--        <i *ngIf="room.online"></i>-->
      </span>
      <div>
        <strong>{{ room.name }}</strong>
        <span>{{ truncate(room.lastMessage, 40) }}</span>
      </div>
    </a>
  </div>
  <div *ngIf="searchedUser" class="app-rooms-list__search-results">
    <span>Results: </span>
    <a [routerLink]="'/chat/' + searchedUser._id" class="app-rooms-list__chat">
      <span>
        {{ searchedUser.name.slice(0, 1) }}
      </span>
      <div>
        <strong>{{ searchedUser.name }}</strong>
      </div>
    </a>
  </div>
</div>
