.app-rooms-list {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  grid-row-gap: 4px;
  justify-content: flex-start;
  padding: 0 var(--main-border-radius);
}

.app-rooms-list__search {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  grid-column-gap: 8px;
  box-sizing: border-box;
}

.app-rooms-list__search app-input {
  width: 100%;
}

.app-rooms-list__search button {
  height: 38px;
  width: 38px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid transparent;
  background-color: transparent;
  transition: var(--main-transition);
  box-sizing: border-box;
}

.app-rooms-list__search button:hover {
  background-color: #eeeeee;
  border-color: #eeeeee;
}

.app-rooms-list__rooms {
  width: 100%;
}

.app-rooms-list__chat {
  align-items: center;
  border-radius: var(--main-border-radius);
  cursor: default;
  display: flex;
  flex-direction: row;
  grid-column-gap: 16px;
  justify-content: flex-start;
  overflow: hidden;
  padding: var(--main-padding);
  text-decoration: none;
  transition: var(--main-transition);
  box-sizing: border-box;
  width: 100%;
}

.app-rooms-list__chat:hover, .app-rooms-list__chat--active {
  background-color: var(--main-color-hover-2);
}

.app-rooms-list__chat > span {
  align-items: center;
  background-color: #eeeeee;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  font-weight: 500;
  height: 56px;
  justify-content: center;
  position: relative;
  width: 56px;
}

.app-rooms-list__chat > span > i {
  background-color: var(--main-color);
  border-radius: 50%;
  bottom: 0;
  height: 12px;
  position: absolute;
  right: 0;
  transform: translate(-2px, -2px);
  width: 12px;
}

.app-rooms-list__chat > div {
  display: flex;
  flex-direction: column;
  grid-row-gap: 4px;
  width: 100%;
  overflow: hidden;
}

.app-rooms-list__chat > div > strong {
  color: #000000;
  font-size: 16px;
  font-weight: 500;
}

.app-rooms-list__chat > div > span {
  color: #616161;
  font-size: 14px;
  width: 100%;
}

.app-rooms-list__search-results {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.app-rooms-list__search-results > span {
  font-size: 14px;
  margin: 16px 0 4px 0;
}

.app-rooms-list__user {
  border-radius: var(--main-border-radius);
  cursor: pointer;
  padding: var(--main-padding);
  transition: var(--main-transition);
}

.app-rooms-list__user:hover {
  background-color: var(--main-color-hover-2);
}
