<div class="app-auth-form">
  <app-form>
    <h2 class="app-title--2">{{ title }}</h2>

    <app-input
      *ngIf="formType === 'register'"
      [(ngModel)]="nameValue"
      [required]="true"
      ngDefaultControl
      placeholder="Name"
      type="text"
    />
    <app-input
      [(ngModel)]="usernameValue"
      [required]="true"
      ngDefaultControl
      placeholder="Username"
      type="text"
      prompt="Latin and numbers only"
      (keydown)="keyPressAlphanumeric($event)"
      (paste)="changeValueAlphanumeric($event)"
    />
    <app-input
      [style]="{display: loginStep === 'password' ? '' : 'none'}"
      [(ngModel)]="passwordValue"
      [required]="true"
      ngDefaultControl
      placeholder="Password"
      type="password"
      #password
    />
    <app-button
      [text]="'Continue'"
      type="submit"
    />

    <footer class="app-auth-form__footer">
      <a [routerLink]="formType === 'register' ? '/login'  : '/register'">
        {{ formType === 'register' ? 'Already registered? Sign in'  : 'Create account' }}
      </a>
    </footer>
  </app-form>
</div>
