<div class="app-auth-form">
  <app-form>
    <h2 class="app-title--2">{{ formType === 'login' ? 'Enter your username'  : 'Start your journey with Goslink' }}</h2>

    <app-input
      *ngIf="formType === 'register'"
      [(ngModel)]="nameValue"
      [required]="true"
      ngDefaultControl
      placeholder="Name"
      type="text"
    />
    <app-input
      [(ngModel)]="usernameValue"
      [required]="true"
      ngDefaultControl
      placeholder="Username"
      type="text"
    />
<!--    <app-checkbox-->
<!--      *ngIf="formType === 'login'"-->
<!--      [(ngModel)]="rememberValue"-->
<!--      [required]="true"-->
<!--      label="Remember me"-->
<!--      ngDefaultControl-->
<!--    />-->
    <app-button
      [text]="'Continue'"
      type="submit"
    />

    <footer class="app-auth-form__footer">
      <a [routerLink]="formType === 'register' ? '/login'  : '/register'">
        {{ formType === 'register' ? 'Already registered? Sign in'  : 'Create account' }}
      </a>
    </footer>
  </app-form>
</div>
