.app-context-menu {
  list-style: none;
  padding: 4px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  grid-row-gap: 4px;
  background-color: var(--color-sky-lighter);
  box-shadow: var(--shadow-large);
  border-radius: 8px;
  border: 1px solid var(--color-sky-base);
  transition: 0.2s;
  opacity: 0;
}

.app-context-menu--visible {
  opacity: 1;
}

.app-context-menu li {
  padding: 0;
  margin: 0;
  width: 100%;
}

.app-context-menu li button {
  padding: 8px 16px;
  margin: 0;
  width: 100%;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  transition: var(--transition-base);
  color: var(--color-ink-base);
  text-align: left;
}

.app-context-menu li button:hover {
  background-color: var(--color-primary-lightest);
}
