<div class="app-new-chat-modal">
  <app-modal (handleVisibleModal)="handleCloseModal()" [visibleModal]="visibleModal">
    <h2 class="app-title--2">New chat</h2>
    <app-input
      (input)="handleInputSearch($event)"
      [value]="usernameValue"
      placeholder="Enter username (ex. username)"
      autocapitalize="none"
      prompt="Latin and numbers only"
      (keydown)="keyPressAlphanumeric($event)"
      (paste)="changeValueAlphanumeric($event)"
    />
    <div *ngIf="searchedUser" class="app-new-chat-modal__search-results">
      <span>Results: </span>
      <app-chats-list
        [visibleModal]="visibleModal"
        (handleVisibleModal)="handleCloseModal()"
        [chats]="[searchedUser]"
        [searchList]="true"
        [addUser]="addUser"
      />
    </div>
<!--    <span>or</span>-->
<!--    <app-button (click)="handleClickNewChat()" text="New group chat"/>-->
  </app-modal>
</div>
