<div class="app-chats-item">
  <span [style]="getGradientFromChar(chat.name[0])">
    {{ chat.name[0] }}
    <i *ngIf="onlineUsers.includes(chat._id)"></i>
  </span>
  <div>
    <strong>{{ chat.name }}</strong>
    <span *ngIf="chat.lastMessage?.text">
      <em>{{ chat.lastMessage?.userId === userId ? 'You: ' : chat.name + ': ' }}</em>{{ chat.lastMessage?.text }}
    </span>
  </div>
  <button (click)="handleDeleteChat(chat)">
    <img ngSrc="assets/icons/trash.svg" height="20" width="20" alt="">
  </button>
</div>
