:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.app-chat-container {
  margin-top: auto;
  overflow-y: auto;
}

.app-chat-container > div {
  display: flex;
  flex-direction: column;
  grid-row-gap: var(--main-grid-gap);
  padding: var(--main-padding);
}

.app-chat-container > div > span {
  background-color: var(--main-color-hover-2);
  border-radius: var(--main-border-radius);
  display: block;
  margin: auto;
  padding: var(--main-padding);
  text-align: center;
  width: fit-content;
}

.app-chat-container__message {
  display: flex;
  flex-direction: column;
  grid-row-gap: var(--main-grid-gap);
}

.app-chat-container__message::before {
  align-items: center;
  background-color: var(--main-color-hover-2);
  border-radius: var(--main-border-radius);
  content: '';
  display: none;
  flex-direction: column;
  font-size: 14px;
  height: 20px;
  justify-content: center;
  padding: var(--main-padding) 0;
  transform: translateY(var(--main-padding));
}

.app-chat-container__message--unread::before {
  content: 'Unread messages';
  display: flex;
}
