:host {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.app-chat-container {
  display: flex;
  flex-direction: column;
  grid-row-gap: 16px;
  overflow-y: auto;
  padding: var(--main-padding);
}
