<div #chat class="app-chat-container" name="chat" ngDefaultControl ngModel>
  <div *ngFor="let item of messagesByDates">
    <span>{{ item.date }}</span>
    <div
      [class]="[
      'app-chat-container__message',
      message._id === firstUnreadMessageId && message.userId !== userId ? 'app-chat-container__message--unread' : ''
      ]"
      *ngFor="let message of item.messages"
      [id]="'message-' + message._id"
    >
      <app-message [message]="message" (edit)="setEdit($event, message)"/>
    </div>
  </div>
</div>
