.app-modal {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

.app-modal__overlay {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
}

.app-modal__content {
  padding: 16px;
  background-color: #ffffff;
  width: 320px;
  height: fit-content;
  border-radius: var(--main-border-radius);
  margin: auto;
  position: absolute;
  inset: 0;
}
