.app-chat-footer {
  padding: var(--main-padding) 0 0 var(--main-padding);
}

.app-chat-footer form {
  display: flex;
  flex-direction: row;
  grid-column-gap: var(--main-grid-gap);
}

.app-chat-footer form app-input {
  width: 100%;
}
