<div class="app-sidebar">
  <div class="app-sidebar__search">
    <app-input [placeholder]="'Search'" (input)="handleChangeInput($event)"/>
    <button (click)="handleClickNewChatButton()">
      <img alt="" height="32" ngSrc="assets/icons/pencil.svg" width="32">
    </button>
  </div>
  <app-rooms-list *ngIf="!searchedMessages.length" [rooms]="rooms"/>
  <a
    [routerLink]="'/chat/' + (userId === message.userId ? message.contactId : message.userId)"
    *ngFor="let message of searchedMessages"
  >
    {{ message.text }}
  </a>
</div>
