.app-sidebar {
  align-items: flex-start;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 8px;
  padding: 0 var(--main-border-radius);
}

.app-sidebar__search {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  grid-column-gap: 8px;
  justify-content: space-between;
  width: 100%;
}

.app-sidebar__search app-input {
  width: 100%;
}

.app-sidebar__search button {
  align-items: center;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 38px;
  justify-content: center;
  padding: 8px;
  transition: var(--main-transition);
  width: 38px;
}

.app-sidebar__search button:hover {
  background-color: #eeeeee;
  border-color: #eeeeee;
}
