@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --main-border-radius: 8px;

  --main-color: rgb(138, 43, 226);
  --main-color-2: rgba(138, 43, 226, 0.8);
  --main-color-3: rgba(138, 43, 226, 0.1);
  --main-white-color: rgb(255, 255, 255);
  --main-black-color: rgb(0, 0, 0);
  --main-light-gray-color: rgb(238, 238, 238);
  --main-light-gray-color-2: rgb(248, 248, 248);
  --main-gray-color: rgb(97, 97, 97);

  --main-padding: 8px;

  --main-grid-gap: 8px;

  --main-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06);

  --main-border: 1px solid var(--main-light-gray-color-2);

  --main-transition: all 0.2s linear;
}

html, body {
  font-family: 'Mulish', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.title--1 {

}

.app-title--2 {
  color: var(--main-black-color);
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 16px 0;
}
