.app-checkbox {
  display: flex;
  flex-direction: row;
  grid-column-gap: var(--main-grid-gap);
  justify-content: flex-start;
}

.app-checkbox > input {
  appearance: none;
  position: absolute;
}

.app-checkbox > i {
  border: var(--main-border);
  border-radius: var(--main-border-radius);
  height: 18px;
  transition: var(--main-transition);
  width: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-checkbox > i > svg {
  opacity: 0;
  transition: var(--main-transition);
  height: 16px;
  width: 16px;
}

.app-checkbox > input:checked + i {
  background-color: var(--main-color);
  border-color: var(--main-color);
}

.app-checkbox > input:checked + i > svg {
  opacity: 1;
}

.app-checkbox > span {
  font-size: 14px;
}
